<section class="main">
    <h1 class="heading">{{title}}</h1>

    <div class="card">
        <div class="card1">
            <h3 class="h3 center">{{h3}}</h3>
            <ul class="list">
                <li *ngFor=" let item of items" class="li">
                   {{item.description}}   <input type="checkbox" name="" id="">
            </li>
        </ul>
        <div class="center add-div">
            <button class="add">add task</button>
        </div>
        </div>
        <div class="card2">
            <h3 class="h3 center">{{h32}}</h3>  
            <ul class="list">
                <li>
                    waking up
                </li>
                <li>
                    waking up
                </li>
                <li>
                    waking up
                </li>
            </ul>
        </div>
    </div>
</section>
